@page
@model IndexModel
@{
    ViewData["Title"] = "Invoice PDF Project";
}

<div class="text-center">
    @if(!User.Identity.IsAuthenticated)
    {
        <h1 class="display-4">Welcome to the Invoice PDF Project</h1>
    } else
    {
        <h1 class="display-4">Welcome to the Invoice PDF Project, @User.Identity.Name</h1>
    }
</div>
